* {
    /* Reset margin and padding */
    margin: 0;
    padding: 0;
    /* Use border-box for sizing */
    box-sizing: border-box;
}

body{
  /* Font */
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: seashell;
  
  /* Background */
  background-color: #3a3a3a;
  
  /* Margins and padding */
  margin: 0;
  padding: 0;
  
  /* Text */
  text-align: center;
}

nav img{
    /* The width of the logo */
    width: 60px;
    /* The height of the logo */
    height: auto;
    /* Space between the logo and the nav links */
    margin: 5px 10px;
}

.container {
    /* The navbar is a flex container with space between each item.
       It is 69px high, has a border on the bottom, and is positioned
       at the top of the page.
    */
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color:#000000;
}

.container-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li{
    margin: 0 10px;
}

li a{
    text-decoration: underline;
    color: seashell;
}

.hero{
    z-index: 1;
    height: 700px;
    text-align: center;
    background-image: url(images/jeff-hopper-iCtJF-A5hvs-unsplash.jpg);
    background-size: contain; /* This is to ensure that the image is not stretched */
    background-repeat: no-repeat;
    background-position: center; /* This is to ensure that the image is at the center */
    background-size: 1200px 700px; /* This is to ensure that the image is not stretched */
    margin: 0 50px; /* This is to ensure that the image is not too close to the edge of the screen */
}

span{
    color: #00BFBE; /*turquoise*/
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5); /*black*/
}

.hero div {
    /* Center the content vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* Add padding around the content */
    padding: 10px;
    /* Position the content */
    position: relative;
    top: 350px;
    /* Make the background color darker */
    background-color: #742D05;
}

.hero div h2 {
    /* Add space below heading */
    margin-bottom: 15px; 
    /* Set the color of the heading to blue */
    color: #00BBE6;
    /* Set the font family to Arvo */
    font-family: 'Arvo';
}

.featured {
    margin: auto;
    padding: 20px;
    color: seashell;
    text-align: center;
    border-radius: 10px;
    width: 1350px;

}

.featured h2{
    /* This is a margin for the h2 */
    margin: 50px;
    border-bottom: 1px solid seashell;
    border-radius: 120px;
    padding: 10px;
    font-family: 'Arvo';

}

.featured ul{
    /* Display items in a flexbox with some spacing in between */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    align-content: space-between;

}

.featured ul li{
    margin: 20px 40px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

/* Make the images in the featured section of the homepage bigger */
.featured ul li img {
    /* Make the images bigger */
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    border: solid 5px #742D05;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

/* This is the background image for the about me section */
.about_me {
    background-image: url(images/OIG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: 1200px auto;
    padding: 50px;
    
}
.about_me h2{
    /*make the header look nice*/
    margin-bottom: 20px;
    border-bottom: 1px solid seashell;
    color: white;
    /*make the header look nice*/
    border-radius: 120px;
    padding: 10px;
    font-family: 'Arvo';
}

/* This is the info box on the home page. It's meant to be a brief introduction to the site.
// It's a div with the class "info".*/


.info{
    position: relative; /* type: position */
    top: 40px; /* type: distance */
    width: 300px; /* type: size */
    height: 300px; /* type: size */
    background-color: #742D05; /* type: color */
    margin: auto; /* type: position */
}

/* This is the footer, which is the bottom of the page. */
footer{
    background-color: #000000;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: seashell;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* These are the headings in the footer. */
footer h2{
    margin: 20px;
    padding: 10px;
    font-family: 'Arvo';
}

footer h5{
    margin: 20px;
    padding: 10px;
    font-family: 'Arvo';
}

/* This is the text on the left side of the footer. */
.rights{
    text-align: left;

}
